* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Gốc */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.75vh;
    background-color: black;
    color: white;
    padding: 0 20px;
    font-size: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 12px;
    margin-right: 20px
}

.left-header {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    margin-top: 8px;
    position: relative;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: -9px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.announce {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    margin-top: 8px;
    margin-left: 5px;
}

.account {
    display: flex;
    align-items: bottom;
    justify-content: center;
    position: relative;
}

.acc {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}

.acc:hover .dd {
    visibility: visible;
    transform: translateY(2%);
    transition: .5s ease-in-out;
    z-index: 1;
    opacity: 1;
}

.dd:hover {
    visibility: visible;
    transform: translateY(2%);
    transition: .5s ease-in-out;
    opacity: 1;
}

.dd {
    background-color: #292929;
    width: 200px;
    height: fit-content;
    position: absolute;
    left: -140px;
    top: 50px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, .3);
    cursor: default;
    visibility: hidden;
    opacity: .2;
}

.dd hr {
    margin: 10px;
}

.dd1 {
    background-color: #ff4655;
    height: 4px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.dd2 {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    color: white;
    padding: 16px 16px 10px 16px;
    font-weight: 510;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: 'Ariel', sans-serif;
    opacity: 1.5;
}

.dd3 {
    padding: 0px 16px 16px 16px;
    color: white;
}

.dds {
    padding: 6px 16px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    margin-top: 8px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.dds:hover {
    background: #444444;
}


.content {
    height: 80.5vh;
    background-image: url(chodem.jpg);
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}

/* Circular menu */
.gc {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80.5vh;
    width: 20%;
    background-color: antiquewhite;
}

#circleWrap {
    width: 20%;
    height: 80.5vh;
}

#scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

#sm {
    position: absolute;
    width: 100%;
    height: 600vh;
}

.item {
    /* position: relative; */
    width: 250px;
    height: 80px;
    z-index: 100;
    font-size: 30px;
    /* line-height: 83px; */
    font-family: sans-serif;
    color: #484848;
}

#svg {
    position: absolute;
    /* overflow: visible; */
}

.frenzy {
    position: fixed;
    transform: translate(-75%, 60%) scale(150%) rotate(20deg);
    image-rendering: optimizeQuality;
    bottom: 50%;
    left: 50%;
    position: center;
}

.gts {
    display: flex;
    height: 12vh;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.75vh;
    background-color: black;
    color: white;
    padding: 0 20px;
    font-size: 30px;
}



/* Product */
.gs {
    display: flex;
    align-items: center;
    gap: 85px;
    height: 100%;
}

.gsf {
    overflow-x: hidden;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.left {
    position: fixed;
    left: 50px;
    height: 60%;
    width: 1px;
    background-color: #ff4655;
}

.left:before {
    content: "";
    position: absolute;
    transform-origin: left;
    left: 100%;
    height: 1px;
    width: 14px;
    transform: rotate(-45deg);
    background-color: #ff4655;
}

.left:after {
    content: "";
    position: absolute;
    bottom: 0;
    transform-origin: left;
    left: 100%;
    height: 1px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #ff4655;
}

.bl {
    background: linear-gradient(90deg, #6e75aa3a 40%, #00000000);
    clip-path: polygon(16% 0, 100% 0%, 100% 0%, 100% 111%, 0% 98%, 0% 2%);
    height: 105%;
    left: 2px;
    position: absolute;
    top: -10.5px;
    width: 100px;
}

.right {
    position: fixed;
    right: 50px;
    height: 60%;
    width: 0.1px;
    background-color: #ff4655;
}

.right:before {
    content: "";
    position: absolute;
    transform-origin: right;
    right: 100%;
    height: 1px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #ff4655;
}

.right:after {
    content: "";
    position: absolute;
    bottom: 0;
    transform-origin: right;
    right: 100%;
    height: 1px;
    width: 14px;
    transform: rotate(-45deg);
    background-color: #ff4655;
}

.br {
    background: linear-gradient(-90deg, #6e75aa3a 40%, #00000000);
    clip-path: polygon(0% 0%, 0% 100%, 0% -10%, 100% 2%, 100% 98%, 0% 110%);
    height: 105%;
    right: 2px;
    position: absolute;
    top: -10.5px;
    width: 100px;
}

.gss {
    flex-shrink: 0;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid white;
    overflow: hidden;
    line-height: 0;
    position: relative;
}

.vp {
    display: flex;
    position: absolute;
    left: 230px;
    top: 12px;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.vp p {
    color: white;
    opacity: 0.9;
}

.ns {
    height: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -20.2vw;
    bottom: 0.0009vh;
    padding: 25px;
}

.ns p {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Ariel', sans-serif;
    background-position: -150px 20px;
    background-size: 600px 800px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(1px 1px 5px black)
}

.buy {
    display: flex;
    gap: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.bd {
    color: #595959cc;
    background-color: black;
    border-radius: 5px;
    padding: 6px 25px;
    font-size: 18px;
    transition: .3s ease-in-out;
    font-family: 'Ruda', sans-serif;
    cursor: default;
    z-index: 1;
}

.bd:hover {
    color: #ff4655;
    transition: .5s ease-in-out;
    cursor: default;
}

.order {
    z-index: 1;
}

.scart {
    color: #494949cc;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 8.5px 16px;
    cursor: default;
    transition: .3s ease-in-out;
}

.scart:hover {
    color: #ff4655;
    transition: .5s ease-in-out;
    cursor: default;
}

.scartp {
    color: red;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 8.5px 15px;
    cursor: default;
}